.seccion1{
    margin-top:5px;
   
}

.seccion2{
   // display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.nombreSecciones{
    position: absolute;
    top:150px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 10em;
    opacity: 0.2;
    z-index: -1;

    @media screen and (max-width: 400px){
        display: none;
   
     }

}

.lugarMascota{
    position: absolute;
    top:110px;
    right: 0px;
    width: 600px;
    z-index: -1;
    img{
        width:100%;
    }

    @media screen and (max-width: 400px){
        top:310px;
        opacity: 0.2;
   
     }
}

.grande{
    width:800px;
    top:310px;
}
.texto-corrido {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    padding: 0 20px;
  }


.articulos {
    //opacity: 0;
    //-webkit-transition: all 0.5s;
    //transition: all 0.5s;
    width: 100%;
    max-width: 1300px;
    //padding: 10px;
    margin: 20px auto;
  }

  .caja1-index {
    margin-top: 50px;
    
    text-align: center;
  }

 
 

  .caja_fotos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px;

    background-color: #fff;
  }

  .caja_fotos .foto {
    position: relative;
    width: 48%;
    min-width: 300px;
    margin: 3px;
  }
  
  .caja_fotos .foto img {
    width: 100%;
    cursor: pointer;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
  }
  
  .caja_fotos .foto img:hover {
    opacity: 0.5;
  }
  
  .caja_fotos .foto .texto_sobre_foto {
    color: #000;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 5;
  }
  
  .asado, .pollo, .hamburguesa, .cafeconleche, .salchicha, .lomito {
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  #primera_capa:hover .asado {
    opacity: 1;
  }
  
  #primera_capa:hover .cafeconleche {
    opacity: 1;
  }
  
  #primera_capa:hover .pollo {
    opacity: 1;
  }
  
  #primera_capa:hover .hamburguesa {
    opacity: 1;
  }
  
  #primera_capa:hover .lomito {
    opacity: 1;
  }
  
  #primera_capa:hover .salchicha {
    opacity: 1;
  }

.gracias{
    display: block;
    width:700px;
    margin: auto;

    text-align: center;

    margin-top: 100px;

    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}

.cajasCentrales{
    display: block;
    width: 100%; 
    font-size: 0.9em ;
    text-align: justify;
    line-height: 30px;


    @media screen and (max-width: 1500px){
        width:100%;
   
     }

    @media screen and (max-width: 380px){
        padding:5px;
         }

    


    
}

.imagenLogo{
    width:300px;
    margin: auto;
    
    text-align: center;
    
    img{
        width: 40%;
    }
}


.caja_texto_promociones{
    width: 60%;
    margin: 50px auto;


    p{
        color: gray;
        font-size: 20px;
    }

}




.articulo1{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    img{
        width:100%;
        padding: 10px;
        border: 1px purple dotted;

        
        @media screen and (max-width: 380px){
           padding: 0;
           border:0;
            }

    }
}

.articulo2{
    width:100%;
    margin: auto;
    
    
    margin-bottom: 50px;
}








